.container {
    width: 50%;
    background-color: rgba(74, 74, 74, 0.5);
    border-radius: 5px;
    margin-bottom: 20px;
}

.parallax1 {
    background-image: url("../../assets/download.jpeg");
    height: 95vh;
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

