.btns a {
    padding: 1em;
    margin: .5em;
    color: black;
}

.toolbar span {
    flex: 1 1 auto;
}

.logo {
    width: 5vw;
    height: 7vh;
}

.title {
    text-align: center;
    position: relative;
}

.btns a {
    margin: 1em;
    color: black;
}
