<div class="parallax1">
  <div class="center">
    <img src="../../assets/033abd13-b29c-40e3-bde7-493d65fa80a0.png">
    </div>
    <div class = "center" id="paraText"><h2>GOTH GARDENS is owned and operated by a team of absolutely METAL plant enthusiasts. We ARE NOT SATISFIED with mediocrity.</h2>
    <h2>What's our secret? We PUMP our PLANTS with just the right amount of fertilizers, iron, acids, and 8 hours of SICK GUITAR SOLOS. Research shows that plants respond well to music, and that sustained exposure can can cause an increase in nutrient uptake without increasing growth speed, which can extend the plants life without compromising stability. SLAYER RULES.</h2>
    <h2>In addition to the benefits shown in the plants itself, we find that THRASHING TWENTY FOUR SEVEN allows for us to provide our customers with nothing but the best customer service. </h2>
  </div>
</div>